a-entity#ground(
  shadow="cast: false; receive: true"
  rotation="-90 0 0"
  ground="size: 100; resolution: 32")

a-entity#forest(
  data-obstacle
  forest="treeCount: 250"
  shadow="cast: true; receive: false")

a-entity#water(position="0 0 0")
  a-entity(water="size: 100 40" position="0 0 -70")
  a-entity(water="size: 100 40" position="0 0 70")
  a-entity(water="size: 40 100" position="-70 0 0")
  a-entity(water="size: 40 100" position="70 0 0")

a-entity#pillar
  a-box(color="black" width="0.2" height="100" depth="0.2" position="50 0 0")
  a-box(color="black" width="0.2" height="100" depth="0.2" position="-50 0 0")
  a-box(color="black" width="0.2" height="100" depth="0.2" position="0 0 50")
  a-box(color="black" width="0.2" height="100" depth="0.2" position="0 0 -50")

//-a-entity(
  geometry="primitive: plane"
  material="color: blue"
  position="1 2 -3"
  sound="src: x; autoplay: true; loop: true")
//- a-entity(water position="-110 0 0")
//- a-entity(tree-pythagoras="")
