a-entity#ground(
  shadow="cast: false; receive: true"
  rotation="-90 0 0"
  ground="resolution: 64")

a-entity#forest(
  forest="treeCount: 100"
  shadow="cast: true; receive: false")

a-entity(water="" position="0 15 -50")


//-a-entity(
  geometry="primitive: plane"
  material="color: blue"
  position="1 2 -3"
  sound="src: x; autoplay: true; loop: true")
//- a-entity(water position="-110 0 0")
//- a-entity(tree-pythagoras="")
