a-text.intro(
  value="Flow Of Four"
  negate="false"
  font="roboto"
  letter-spacing="4.21"
  color="#fff"
  width="10"
  align="center"
  position="0 2 -5"
  opacity="0"
  animation="property: opacity; to: 1; easing: easeInOutElastic; delay: 1500; dur: 1200")
