a-entity#stux(
  visible="false"
  geometry="primitive: kacsa"
  material="shader: flat; color: #404;"
  position="0 1.2 -3")

a-entity#tux(
  visible="false"
  wasd-ext
  geometry="primitive: kacsa"
  mat="lambert"
  position="0 0.25 -2"
  rotation="0 180 0"
  shadow="receive: false"
  mixin="pulse"
  handy
  ibidem)
  a-entity(
    raycaster="far: 1; objects: [data-obstacle]"
    obstacle-stop="dirY: 0.5")

a-entity.title.intro(
  visible="false"
  text="font: roboto; negate: false; color: #fff; letter-spacing: 9.21; align: center; value: Flow of Four"
  scale="40 40 1"
  position="0 5 -25")
  //- animation="property: text.color; from: #fff; to: #000; easing: easeInOutElastic; dir: alternate; dur: 1200; loop: 2; delay: 2500"

- var showObstacle = "false"

a-box.intro(
  visible=showObstacle
  data-obstacle
  position="0 1 -6.5"
  width="8"
  height="2"
)

a-box.intro(
  visible=showObstacle
  data-obstacle
  position="0 1 4.5"
  rotation="0 180 0"
  width="8"
  height="2"
)

a-box.intro(
  visible=showObstacle
  data-obstacle
  position="-4.5 1 -1"
  rotation="0 90 0"
  width="12"
  height="2"
)

a-box.intro(
  visible=showObstacle
  data-obstacle
  position="4.5 1 -1"
  rotation="0 -90 0"
  width="12"
  height="2"
)
