a-text.intro(
  value="Flow Of Four"
  negate="false"
  font="roboto"
  letter-spacing="4.21"
  color="#fff"
  width="10"
  position="-1.2 2 -2"
  opacity="0"
  animation="property: opacity; to: 1; easing: easeInOutElastic; delay: 500; dur: 1200")
