a-assets

  //-|| ( •_•)O*¯`·.¸.·´¯`°Q(•_• ) || Animtions

  a-mixin#pulse(
    animation="property: scale; to: 1.2 1.2 1.2; dur: 404; loop: true; dir: alternate")

  a-mixin#fastanim(
    animation="dur: 150")



  //-|| 龴ↀ◡ↀ龴 || Bestiarium

  a-mixin#bird(
    geometry="primitive: bird"
    mat="lambert"
    animation="property: scale; to: 2 2 2; dur: 850; loop: true; dir: alternate; easing: easeOutElastic"
    handy
    shadow
    bouncy)
    //- handy)


  //-|| இڿڰۣ-ڰۣ—-- || Environment

  a-mixin#oak(
    geometry="primitive: oak"
         mat="phong")

  a-mixin#knot(
    geometry="primitive: oak;knot: true"
         mat="phong")

  a-mixin#pine(
    geometry="primitive: pine"
         mat="toon")
