- var eyePosition = "0 1.6 0"

a-entity#player(
  wasd-controls="acceleration: 150"
  wasd-ext)
  a-entity.ray(
    raycaster="far: 2; objects: [data-obstacle]"
    obstacle-stop)

  a-entity.camera(
    camera="far: 200"
    look-controls
    position=eyePosition
    animation__pu="property: position; to: 0 5 5; startEvents: u; dur: 300"
    animation__pd="property: position; to: 0 1.6 0; startEvents: d; dur: 300")

    //- a-entity(
    //-   raycaster="far: 50"
    //-   cursor=""
    //-   position="0 0 -1"
    //-   geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
    //-   material="color: black; shader: flat")
    //-   //- raycaster="showLine: true; far: 100"
    //-   //- line="color: orange; lineWidth: 10"

  a-entity.left-hand(
    hand-controls="hand: left; color: #0ffc93"
    raycaster="far: 0.15; direction: 1 0 0; objects: [handy]; showLine: true"
    hand-vr
    wasd-vr)
  a-entity.right-hand(
    hand-controls="hand: right; color: #0ffc93"
    raycaster="far: 0.15; direction: -1 0 0; objects: [handy]; showLine: true"
    hand-vr
    turn-vr)

  a-box#avatar(
    visible="false"
    color="lime"
    width="0.5"
    height="1.8"
    depth="0.3"
    position="0 0.9 0"
    shadow)
