- var eyePosition = "0 1.6 0"

a-entity#player(
  mixin="playerintro"
  wasd-ext
  )

  a-entity(
    raycaster="far: 2; objects: [data-obstacle]"
    )

  a-entity.camera(
    look-controls
    camera="far: 200"
    position=eyePosition
    animation="property: position; to: 0 15 9; startEvents: u; dur: 300"
    animation__p="property: position; to: 0 1.6 0; startEvents: d; dur: 300"
    )

    //- visible="true"
    a-entity.novr.intro(
      animation="property: visible; from: true; to: false; startEvents: enter-vr; resumeEvents: exit-vr"
      text="font: roboto; align: center; color: #fff; value: Enter VR"
      position="0 0.02 -0.2"
    )
    //- animation="property: text.opacity; from: 0; to: 1; dur: 1200; dir: alternate; loop: true; easing: easeInOutBack"

    //- a-entity.novr(
    //-   cursor
    //-   visible="true"
    //-   raycaster="far: 2; objects: [data-obstacle]"
    //-   position="0 0 -0.1"
    //-   geometry="primitive: ring; radiusInner: 0.0045; radiusOuter: 0.0048"
    //-   material="color: #885; shader: flat"
    //-   animation="property: visible; to: false; startEvents: enter-vr"
    //-   )

  a-entity#l(
    hand-controls="hand: left; color: #0ffc93"
    raycaster="far: 0.15; direction: 1 0 0; objects: [handy]; showLine: true"
    wasd-vr="target: #player; action: move"
    )

  a-entity#r(
    hand-controls="hand: right; color: #0ffc93"
    raycaster="far: 0.15; direction: -1 0 0; objects: [handy]; showLine: true;"
    wasd-vr="target: #player; action: turn"
    )

  a-box#avatar(
    visible="false"
    color="lime"
    width="0.5"
    height="1.8"
    depth="0.3"
    position="0 0.9 0"
    shadow
    )
