- var debugComponents = {}
unless isProduction
  //- - debugComponents.stats = true
  - debugComponents["stats-in-vr"] = ""

a-scene(
  pool__bird="mixin: bird; size: 0"
  pool__oak="mixin: oak; size: 2"
  pool__knot="mixin: knot; size: 2"
  pool__pine="mixin: pine; size: 2"
  background="color: #303c42"
  stars="size: 2.5"
  audio-listener
  )&attributes(debugComponents)
  //- fog="color: #000; near: 5; far: 25; type: 'exponential'"
  //- vr-mode-ui="enabled: false"
  //- shadow="type: pcfsoft"
  //- forest

  include mixins.pug
  include environment.pug
  include lights.pug
  include player.pug
