doctype html
html(lang="en")
  head
    title #js13k-2020
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="icon" href="data:,")
    //- script(src="https://js13kgames.com/webxr-src/2020/aframe.js")
    script(src="aframe.js")
    script(src="index.js")
    style(type="text/css").
      html, body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
      }
      body {
        background: linear-gradient(#24a3b5, #40320a);
      }
  body
    a-scene(
      background="color: #2480b5"
      skypox=""
      stats="true"
      audio-listener)

      include entities/mixins.pug

      a-entity.environment(visible="true")
        include entities/environment.pug
      a-entity.lights
        include entities/lights.pug

      include entities/player.pug

      //-a-entity(
        handy
        geometry="primitive: box; width: 0.25; height: 0.25; depth: 0.25"
        position="0 1.7 -0.5"
        material="color: green")

      a-entity(
        data-obstacle
        geometry="primitive: box; width: 0.5; height: 0.5; depth: 0.5"
        position="4 1.5 -3"
        material="color: red")
//-
      a-entity(
          pos-audio
          oscillator=""
          oscillator__a="frequency: 110"
          position="-4 1.6 -3"
          rotation="0 90 0"
          analyser="")
        a-entity(
          handy
          geometry="primitive: box; width: 0.3; height: 0.3; depth: 0.3"
          material="color: green"
          shadow="receive: false")
          //- cursor-listener)

      //-a-entity(
        geometry="primitive: plane"
        material="color: blue"
        position="1 2 -3"
        sound="src: x; autoplay: true; loop: true")
