doctype html
html(lang="en")
  head
    title #js13k-2020
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="icon" href="data:,")
    //- script(src="https://js13kgames.com/webxr-src/2020/aframe.js")
    script(src="aframe.js")
    script(src="index.js")
    style(type="text/css").
      body {
        background: linear-gradient(to right, #5a3f37, #2c7744);
      }
      /*.a-enter-vr > button::before {
        content: "NO VR NO DEMO";
        padding-right: 200px;
      }*/
  body
    a-scene(shadow background="color: #24a3b5" skypox stats="false")
      include entities/lights.pug
      include entities/player.pug

      a-entity(water position="-110 0 0")

      //-a-entity(oscillator="")

      a-entity(tree-pythagoras position="0 3 -3")
      //-a-entity(
        geometry="primitive: plane"
        material="color: blue"
        position="1 2 -3"
        sound="src: boo; autoplay: true; loop: true")
