- var debugComponents = {}
unless isProduction
  - debugComponents.stats = true
  //- - debugComponents["stats-in-vr"] = ""

doctype html
html(lang="en")
  head
    title #js13k-2020 [#{isProduction ? "production" : "development"}]
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="icon" href="data:,")
    if isProduction
      script(src="https://js13kgames.com/webxr-src/2020/aframe.js")
    else
      script(src="aframe.js")
    script(src="index.js")
    style(type="text/css").
      html, body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
      }
      body {
        background: linear-gradient(#24a3b5, #40320a);
      }
  body
    a-scene(
      pool__kacsa="mixin: kacsa; size: 50"
      pool__oak="mixin: oak; size: 2"
      pool__knot="mixin: knot; size: 2"
      pool__pine="mixin: pine; size: 2"
      background="color: #000"
      audio-listener
      fog="color: #000; near: 0; far: 0; type: 'exponential'"
      )&attributes(debugComponents)
      //- fog="color: #000; near: 5; far: 25; type: 'exponential'"
      //- vr-mode-ui="enabled: false"
      //- shadow="type: pcfsoft"
      //- forest
      //-
      include entities/mixins.pug
      include entities/environment.pug
      include entities/lights.pug
      include entities/intro.pug
      include entities/player.pug
